main{
    overflow: hidden;
}

#showLoader {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
